@model X.PagedList.PagedList<Libro>
@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;



<br>


<h3>Listado de Libros </h3>

<br>



<button class="btn btn-outline-primary">
    @Html.ActionLink("Ingresar Libro","Nuevo", new {@class="pull-right"})
</button>

<br>

@using (Html.BeginForm())
{
    <p>
        Buscar por nombre : @Html.TextBox("campobusqueda")
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </p>
}

<br>


<table class="table">

    <tr class="thead-dark">
        <th>Imagen</th>
        <th>@Html.ActionLink("Titulo","ListadoOrden",new {ordenPor="ordenporTitulo"})</th>
        <th>@Html.ActionLink("Autor","ListadoOrden",new {ordenPor="ordenporAutor"})</th>
        <th>@Html.ActionLink("Genero","ListadoOrden",new {ordenPor="ordenporCategoria"})</th>
        <th>@Html.ActionLink("A침o","ListadoOrden",new {ordenPor="ordenporA침o"})</th>
        <th>@Html.ActionLink("Precio","ListadoOrden",new {ordenPor="ordenporPrecio"})</th>
        <th></th>
    </tr>

    @{
        int i = 100;
    }


    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src='@Url.Content("~/images/"+ @item.FotoRuta)' class="img-thumbnail"
                style="width:75px ; height:75px" />
            </td>
            <td>@item.Titulo</td>
            <td>@item.Autor</td>
            <td>@item.Categoria</td>
            <td>@item.A침oLanzamiento</td>
            <td>@item.Precio</td>
            <td>
                @Html.ActionLink("Editar","Editar",new {idLibro=item.idLibro},new {@class="btn btn-outline-primary"})
                @Html.ActionLink("Eliminar","Borrar",new {idLibro=item.idLibro},new {@class="btn btn-outline-primary"})
            </td>
        </tr>
        i++;
    }

</table>

P치gina @(Model.PageCount <Model.PageNumber ? 0: Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, pagina => Url.Action("ListadoPaginado",
new {pagina,sortOrder=ViewBag.CurrentSort , currentFilter=ViewBag.currentFilter }),
new X.PagedList.Mvc.Core.Common.PagedListRenderOptions{
ContainerDivClasses=new[] {"navigation"},
PageClasses=new[] {"page-link"},
LiElementClasses=Enumerable.Empty<string>(),
})
